._nc .stage1 .slider {
    width: 80%;
    height: 100%;
    touch-action: none;
    font-size: 16px;
    margin: 0 auto;
}

._nc .stage2 .textbox .placeholder {
    left: 65px
}

._nc .stage2 .textbox .code {
    border-left: #184998 solid 1px
}

._nc .stage2 .icon.tip {
    top: 17px
}

._nc .stage2 .icon.clear {
    top: 15px
}

._nc .stage2 .icon.refresh {
    top: 17px
}

.regist-warp .mui-input-row input {
    color: #0d0d0d;
}

.mui-input-group .mui-input-row:nth-child(1):after {
    right: 15px !important
}

.mui-input-group .mui-input-row:nth-child(2):after {
    right: 0 !important;
    left: 0 !important
}