@{
    ViewBag.Title = "我的反馈";
    Layout = "~/Views/Shared/_LayoutWebpack.cshtml";
}
   
    <link rel="stylesheet" href="~/Content/css/feedback/MyFeedback.css" />
    <header class="mui-bar mui-bar-nav" style="background: #fff;">
        <a class="mui-icon-arrowleft mui-icon mui-icon-left-nav mui-pull-left" href="/mybusiness/"></a>
        <h1 class="mui-title">我的反馈</h1>
    </header>
    <div class="mui-content" v-cloak>
        <scroller ref="scroller" v-bind:on-refresh="Refresh" v-bind:on-infinite="Append" class="mui-scroll" v-cloak>
            <div>
                <ul class="mui-table-view mui-table-view-chevron">
                    <div class="feedback" v-for="(feed,index) in MyFeedBack">
                        <p class="research_title">{{feed.Describe|ds}}<span class="not_docking">{{feed.MyProperty|r}}</span></p>
                        <p class="Serial">
                            序号：<span>{{index+1}}</span>
                            <a class="examine" v-bind:value="feed.Id" style="color: #0e5bb5;" v-on:click="Detail(feed.Id)">查看详情</a>
                            <span class="division">|</span><span class="time">{{feed.CreateTime|formatDate}}</span>
                        </p>

                    </div>
                </ul>
            </div>           
            </scroller>
        <div class="Iwant">
            <a class="mui-btn mui-btn-blue mui-btn-block" href = '/feedback/onlinefeedback' style="color: #fff;">我要反馈</a>
        </div>
</div>

@section foot{
<script src="~/dist/feedback.myfeedback.bundle.js"></script>
    }