

html {
    font-size: 50px;
}


* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Microsoft YaHei', Verdana, Arial;
}
/*=====去阴影=====*/

.mui-bar-nav{
	box-shadow: none;
	-webkit-box-shadow:none ;

}

.mui-bar-tab .mui-tab-item {
    height: 1.0rem;
}

    .mui-bar-tab .mui-tab-item .mui-icon {
        width: 0.46rem;
        height: 0.45rem;
    }

li {
    list-style: none;
}


.mui-bar-tab {
    line-height: 1;
   color: #444;
}

input:focus {
    outline: none;
}

a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
   -webkit-user-select: none;
   -moz-user-select: none;
   outline: none;
   /*background: none;*/
   text-decoration: none;
   color:#666;
}
/*禁止触发默认的手势操作*/

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

em {
    font-style: normal;
}

img {
    display: block;
}

.mui-btn-block {
    padding: 5px 0px;
    font-size:0.30rem
}

.mui-bar-tab .nav-tab-item {
    color: #444;
}

.research_footer li p {
    margin-top: 0.10rem;
}
.mui-bar {
    background: #fff;
}
/*---------*/
.slide {
    display: none;
    width: 100%;
    background: #000;
    opacity: 0.8;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
}

.cataloglist .area .slide {
    display: none;
    width: 1.45rem;
    height: 1.48rem;
    background: url(../image/search_bg.png) no-repeat;
    background-size: 100% 100%;
}

    .cataloglist .area .slide li {
        line-height: 0.44rem;
        color: #f1f1f1;
        overflow: hidden;
        height: auto;
    }

    .cataloglist .area .slide span {
        font-size: 0.30rem;
        float: right;
        margin-right: 0.20rem;
    }

#area .area .downlist li:nth-child(1) i {
    display: block;
    float: left;
    width: 0.30rem;
    height: 0.30rem;
    background: url(../image/search_down2.png) no-repeat;
    background-size: 0.30rem 0.30rem;
    margin-top: 0.10rem;
}

#area .area .downlist li:nth-child(2) i {
    display: block;
    float: left;
    width: 0.30rem;
    height: 0.30rem;
    background: url(../image/search_down2.png) no-repeat;
    background-size: 0.30rem 0.30rem;
    margin-top: 0.10rem;
}

#area .area .downlist li:nth-child(3) i {
    display: block;
    float: left;
    width: 0.30rem;
    height: 0.30rem;
    background: url(../image/search_down.png) no-repeat;
    background-size: 0.30rem 0.30rem;
    margin-top: 0.10rem;
}
/*-------底部固定------------*/
.botm-bg {
    display: block;
    background: url(../image/EnterpriseService/ftb-bg.png) no-repeat;
    width: 100%;
    height: 1.31rem;
    background-size: 100% 1.31rem;
}

.Contact-msge {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    color: #fff;
    font-size: 0.22rem;
    overflow: hidden;
    margin-top: .3rem;
}

    .Contact-msge .mes-icon {
        display: inline-block;
        /*background: url(../image/EnterpriseService/mesg.png) no-repeat;*/
        width: 8%;
        height: 0.29rem;
        margin-top: 0.1rem;
        float: left;
        /*background-size: 0.43rem 0.27rem;*/
    }

        .Contact-msge .mes-icon img {
            width: 0.43rem;
            height: 0.27rem;
        }

.mes-text {
    float: left;
    width: 92%;
    border-left: #fff solid 1px;
    padding-left: 5px;
    box-sizing: border-box;
    line-height:14px;
}

#area {
    font-size: 0.34rem;
}

.cataloglist {
    background: url(../../image/rectangular.png) no-repeat scroll right center transparent;
    background-size: 0.25rem 0.15rem;
    float: left;
    width: 1.2rem;
    height: 100%;
    padding: 0 0;
    padding-left: 0.30rem;
    color: #969696;
}

.on_seek {
    width: 0.5rem;
    height: 100%;
    position: absolute;
    right: 0.11rem;
}

.cataloglist dt {
    margin-top: 0px;
}

.seek_img {
    width: 0.25rem;
    height: 0.25rem;
    margin: auto;
    margin-top: 6px;
}

.mui-icon-arrowdown {
    color: #969696;
    font-size: 0.38rem;
}

.ft-tab {
    background: #fff;
    padding-bottom: 0.10rem;
    box-sizing: border-box;
}

/*--------弹窗----------*/

#mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #333;
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: none;
}

.popup {
    position: absolute;
    left: 50%;
    width: 80%;
    height: 4.20rem;
    z-index: 1000;
    display: none;
    background: #fff;
    border-radius: 10px;
}

.btn_box {
    width: 100%;
    margin: 0 auto;
    height: 0.5rem;
    background: #fff;
    border-radius: 10px;
}

.bttn {
   width: 6%;
    height: 0.5rem;
    float: right;
    text-align: center;
    line-height: 13.5px;
    color: #333;
}

.p_text {
    width: 100%;
    margin: .80rem auto;
    color: #f19149;
    font-size: 0.30rem;
    text-align: center;
}

.btn_footer {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

    .btn_footer button {
        width: 40%;
        float: left;
        font-size: 0.30rem;
        text-align: center;
        background: #007AFF;
    }

.btn_footer1 {
    width: 80%;
    margin: 0 auto;
    padding-left: 12%;
}

    .btn_footer1 .confirm {
        margin-right: 5%;
    }

.textarea {
    width: 90%;
    min-height: 1.8rem;
    margin-top: 5px;
    margin-left: 5%;
}

.popup_consult {
    position: absolute;
    left: 50%;
    width: 80%;
    height: 4.20rem;
    z-index: 1000;
    display: none;
    background: #fff;
    border-radius: 10px;
}

.btn_footer .confirm_consult {
    width: 75%;
    margin-left: 5%;
}

