body {
}
.mui-bar{
    border-bottom:1px solid #ddd
}
.advice_box{
    width:100%;
    overflow:hidden;
    height:auto;
    margin-bottom:0.20rem
}
.goods_info{
    overflow:hidden;
    padding:0.20rem;
    height:auto;
    background:#fff
}
.goods_img{
    width:1.58rem !important;
    height:1.58rem !important;
    float:left;    
}
.goods_right{
    overflow:hidden;float:right;
    width:70%
}
.goods_title{
    overflow:hidden;
    font-size:0.28rem;
    color:#444;
    line-height:0.40rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom:0.20rem
}
.goods_status{
    overflow:hidden
}
.goods_status span{
    font-size:0.26rem;
    color:#999
}
.goods_status .money{
    float:left
}
.goods_status .time{
    float:right
}
.im-chat-list{
    overflow:hidden;
    width:100%;
    padding:0.20rem 0
}
.im-chat-list li {
    padding:0.20rem;
    overflow:hidden;clear:both    
}
.customer{
        text-align: right;
}
/*--留言1---*/
.dialog-box{
    margin-left: 12px;
    padding: 9px 13px;
    display: inline-block;
    position: relative;
    min-width: 16px;
    min-height: 14px;
    border-radius: 10px;
    background-color: #fff;
    color: #555;
    background: #FFFFFF;
}
.customer .dialog-box {
    margin: 0 12px 0 0;
    background: #a0e759;
    color: #444;
    max-width: 76%;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.20);
}
.dialog-box .cont {
    word-wrap: break-word;
    overflow: hidden;
    position: relative;
    z-index: 3;
    font-size:0.28rem;
    line-height:0.40rem
}
.customer .cont{
    display: block;
    text-align: left;
}
.chat-txt .text-msg-wrap {
    position: relative;
    overflow: hidden;
    line-height: 1.5;
}
.customer .user_img,.service .user_img{
    width:0.80rem;
    height:0.80rem;
    border-radius:50%;
    float:right
}
.service .user_img{
    float:left
}
.check_btn{
    overflow:hidden;
    padding:0.30rem 0.20rem;
    background:#fff
}
.check_btn .mui-btn-yellow{
    color:#ff6525;
    border:1px solid #ff6525;
    float:left;width:48%
}
.check_btn .mui-btn-blue{
    color:#0e5bb5;
    border:1px solid #0e5bb5;float:right;
    width:48%
}
.reply_footer{
    display:-webkit-box;
    display:-moz-box;
    width: 100%;
    overflow:hidden;
    background:#fff;
    padding: 0.20rem 0;
    border-top: 1px solid #ddd;
}
.reply_footer li{
     -webkit-box-flex:1;
      -moz-box-flex: 1;
      padding:0 0.20rem;
}
.reply_footer li button{
    margin:0 auto;
    width:100%
}
/*--留言2--*/
.service{
    text-align:left
}
.service .dialog-box {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.20);
    max-width: 80%;
}
.service .dialog-box:after, .customer .dialog-box:after{
    position: absolute;
    top: -2px;
    content: '';
    text-indent: -99em;
    width: 25px;
    height: 25px;
}
.customer .dialog-box:after {
     top:-1px;
    right: -9px;
    z-index: 2;
    background: url('../../image/high/liuyan_bg.png') no-repeat right top;
}
.service .dialog-box:after {
    left: -10px;
    width: 17px;
    z-index: 2;
    background: url('../../image/high/58aba852Na6d0be3c.png') no-repeat left top;
}

/*---卖家---*/
.revert{
        width:0.49rem;
        height:0.42rem;
        float:left
    }
    .check_btn input{
        width:72%;
        margin:0 0.20rem;
        border:none;
        border-bottom:1px solid #ddd;
        float: left;
        padding: 0;
        height: auto; 
        font-size:0.28rem;
        color:#444;
        border-radius:0;
        margin-top:0.10rem;
    }
    .submint_text{
        width:15%;
        color: #0e5bb5;
        border: 1px solid #0e5bb5;
        float: right;
        padding: 3px 0;
        font-size: 0.28rem;
    }

/*弹窗*/
.problem_wrap{
        overflow:hidden;
        padding:0.20rem;
        background:#fff;
    }
    .problem_box{
        padding:0.10rem; 
        overflow:hidden;
        background:#f5f5f5;
        border-radius:5px
    }
    .problem_box span{
        font-size:0.26rem;
        color:#444;display:block;
        float:left;
        line-height:0.36rem
    }
    .problem_text{
        float:left;
        width:79%;
        font-size:0.26rem;
        color:#666;
        line-height:0.36rem
    }
    .pop_model{
        padding:0.20rem;
        position:fixed;
        top:50%;
        left:50%;
        width:6.00rem;
        min-height:4.00rem;
        margin-top:-25%;
        margin-left:-3.00rem;
        background:#fff;
        border-top:2px solid #0c4ca3;
        z-index:1000
    }
    .pop_model h3{
        margin:0;
        overflow:hidden;
    }
    .pop_model h3 span{
        width:0.50rem;
        font-size:0.30rem;
        color:#444;
        float:right;
        text-align:center
    }
    .pop_model .reply_text{
        font-size: 0.26rem;
        color: #666;
        line-height: 0.36rem;
    }
    .reply_box{
        padding: 0.10rem;
        overflow: hidden;
        background: #f5f5f5;
        border-radius: 5px;
        height:2.50rem;
        overflow:auto
    }
    .reply_box span{
        font-size: 0.26rem;
        color: #444;
        line-height: 0.36rem;
    }
    .pop_model .goods_info{
        padding:0.20rem 0
    }
    .goods_info .model_goods_img{
        width:1.40rem !important;
        height:1.40rem !important;
    }
    .buyer_pirce{
        font-size:0.28rem;
        color:#444
    }
    .buyer_pirce span{
        font-size:0.28rem;
        color:#ff6525;
        font-weight:800
    }
    .Quotation_btn .mui-btn-blue{
        width:50%;
        margin-top:0.20rem;
        margin-left:27%;
        background:#0c4ca3;
        border:1px solid #0c4ca3;
        padding:4px 10px;
        color:#fff
    }
    .pop_model h4{
        font-size:0.28rem;
        color:#444
    }
    .check_btn textarea{
        padding:0;
        font-size:0.28rem;
        color:#666;
        line-height:0.40rem;
        margin-bottom:0;
        text-indent:2em;
        border:none
    }
    .quoteInfo .quote em{
        float:left;
        display:inline-block
    }
   .quoteInfo .quote .money{
        color:#ff6300
    }