@{
    ViewBag.Title = "检测";
    Layout = "~/Views/Shared/_LayoutWebpack.cshtml";
}
@section head{
    <link href="~/Content/css/pulli.css" rel="stylesheet" />
    <link href="~/Content/css/ZZ_skills/Skills.css" rel="stylesheet" />
}
@section foot{
    <script src="~/dist/unique.common.bundle.js"></script>
}
<header class="mui-bar mui-bar-nav">
    <a class="mui-icon mui-icon-arrowleft mui-icon-left-nav mui-pull-left" href="/"></a>
    <h1 class="mui-title">检测</h1>
</header>
<div class="mui-content l-scrollable" style="background: #f2f1f7;">
    <div class="one">
        <ul class="mui-table-view" style="margin-top: 0px;margin-bottom: 10px;">
            <li class="mui-table-view-cell mui-media" style="margin-bottom: ;">
                <a href="/unique/faanalysis">
                    <img class="mui-media-object mui-pull-right" src="/content/image/check/alx.png">
                    <div class="mui-media-body">
                        失效分析检测
                        <p class="mui-ellipsis">产品与材料的失效机理分析，并提供改进方案，为客户提供数据和技术分析服务。</p>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="mui-table-view" style="margin-top: 0px; margin-bottom: 10px;">
            <li class="mui-table-view-cell mui-media" style="margin-bottom: ;">
                <a href="/unique/notesting">
                    <img class="mui-media-object mui-pull-right" src="/content/image/check/wsl.png">
                    <div class="mui-media-body">
                        无损检测
                        <p class="mui-ellipsis">高端无损检测设备定制方案，在线检测整体集成方案，综合性无损检测项目服务。</p>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="mui-table-view" style="margin-top: 0px; margin-bottom: 10px;">
            <li class="mui-table-view-cell mui-media" style="margin-bottom: ;">
                <a href="/unique/composites">
                    <img class="mui-media-object mui-pull-right" src="/content/image/check/fhl.png">
                    <div class="mui-media-body">
                        复合材料检测
                        <p class="mui-ellipsis">复合材料综合性能评价的方案设计与测试表征技术，模拟特种、极端使用环境的复合材料检测评价技术。</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="expect">
        <p>更多服务敬请期待</p>
        <img src="/content/image/MilitaryCivilian/expect.png">
    </div>
</div>
<rightsidebar></rightsidebar>
