@{
    Layout = "~/Views/Shared/_LayoutWebpack.cshtml";
}
@section head{
    <link href="~/Content/css/unique/sortbar.css" rel="stylesheet" />
    <link href="~/Content/css/unique/list.css" rel="stylesheet" />
    <style>
        .body-overflow {
            position: fixed
        }

        html {
            background: #fff
        }
    </style>
}
@section foot{
    <script src="~/dist/unique.list.bundle.js"></script>
}

<div id="container" style="height:100%;width:100%;">
    <header class="oHeader mui-bar mui-bar-nav">
        <searchbar></searchbar>
    </header>
    <foot-bar v-cloak></foot-bar>
    <div class="mui-content mui-scroll-wrapper" v-cloak>
        <div class="technology" v-if="productType&&productType==7">
            <div style="width: 100%;" v-on:click="TabClick">
                军民融合:
                <span>{{TabTitles[CurrentTab]}}</span>
                <span class="mui-icon mui-icon-arrowdown"></span>
            </div>
            <ul v-if="ShowTabs" class="slide1 downlist1" style="background: #363636;height:auto">
                <li v-on:click="TabSwitch(0)">航天搭载</li>
                <li v-on:click="TabSwitch(1)">军工四证</li>
                <li v-on:click="TabSwitch(2)">航天咨询</li>
                <li v-on:click="TabSwitch(3)">中国制造2025会议</li>
                <li v-on:click="TabSwitch(4)">航天育种</li>
                <li v-on:click="TabSwitch(5)">国防域名注册</li>
                <li v-on:click="TabSwitch(6)">国防实验室认可（Dilac）咨询业务</li>
                <li v-on:click="TabSwitch(7)">航天体验园</li>
                <li v-on:click="TabSwitch(8)">钱学森专题</li>
                <li v-on:click="TabSwitch(9)">院士工作站</li>
            </ul>
        </div>
        <div id="ft-sort-bar">
            <div class="sort-bar-item" v-on:click="Sort(0)" style="padding-left:3%">
                <span class="text-time" v-bind:class="{active:(param.sortName==0)}">发布时间</span>
                <span class="up">
                    <span class="mui-icon mui-icon-arrowup" v-bind:class="{active:(param.sortName==0&&param.sortDirection==1)}"></span>
                    <span class="mui-icon mui-icon-arrowdown" v-bind:class="{active:(param.sortName==0&&param.sortDirection==0)}"></span>
                </span>
            </div>
            <div class="sort-bar-item" v-on:click="Sort(1)">
                <span class="text-time" v-bind:class="{active:(param.sortName==1)}">浏览量</span>
                <span class="up">
                    <span class="mui-icon mui-icon-arrowup" v-bind:class="{active:(param.sortName==1&&param.sortDirection==1)}"></span>
                    <span class="mui-icon mui-icon-arrowdown" v-bind:class="{active:(param.sortName==1&&param.sortDirection==0)}"></span>
                </span>
            </div>
            <div class="sort-bar-item" v-on:click="Sort(2)">
                <span class="text-time" v-bind:class="{active:(param.sortName==2)}">业务咨询量</span>
                <span class="up">
                    <span class="mui-icon mui-icon-arrowup" v-bind:class="{active:(param.sortName==2&&param.sortDirection==1)}"></span>
                    <span class="mui-icon mui-icon-arrowdown" v-bind:class="{active:(param.sortName==2&&param.sortDirection==0)}"></span>
                </span>
            </div>
        </div>
        <scroller v-show="productType!=7||CurrentTab==2" ref="scroller" v-bind:on-refresh="Search" v-bind:on-infinite="Append" v-bind:style="{'padding-top': PaddingTop+'px'}">
            <ul class="mui-table-view" v-cloak>
                <li class="mui-table-view-cell mui-media list-item" v-on:click="Detail(product.Id)" v-for="product in products">
                    <img class="mui-media-object mui-pull-right" v-bind:src="product.ImgUrl">
                    <div class="mui-media-body">
                        <span class="li-title">{{product.Title}}</span>
                        <p class="mui-ellipsis" v-html="product.Introduction">
                        </p>
                        <div class="browse-box">
                            <span style="font-size:0.21rem;color:#666;width: 35%;float: left;display: inline-block;line-height:0.40rem">浏览量:<span>{{product.BrowseNum}}</span></span>
                            <span style="font-size:0.21rem;color:#666;display:block;float:left;line-height:0.40rem">咨询量:<span>{{product.BusinessReferCount}}</span></span>
                            <span style="font-size:0.21rem;color:#666;line-height:0.40rem" class="Ospan">{{product.PublishTime|FormatDate}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </scroller>
        <div v-if="productType==7&&CurrentTab==0" style="padding-top:0.88rem;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-media list-item" v-on:click="GoSpaceBorne">
                    <img class="mui-media-object mui-pull-right" src="~/Content/image/MilitaryCivilian/space_box.png">
                    <div class="mui-media-body">
                        <span class="li-title">航天搭载</span>
                        <p class="mui-ellipsis-box">
                            双创政策指引：2014年9月，总理李克强在夏季达沃斯论坛总理李克强在夏季达沃斯论坛上总理李克强在夏季达沃斯论坛上上公开发布出“大众创业、万众创新”...
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div v-if="productType==7&&CurrentTab==1" style="padding-top:0.88rem;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-media list-item" v-on:click="GoMilitaryFour">
                    <img class="mui-media-object mui-pull-right" src="~/Content/image/MilitaryCivilian/space_box2.png">
                    <div class="mui-media-body">
                        <span class="li-title">军工四证</span>
                        <p class="mui-ellipsis-box">
                            双创政策指引：2014年9月，总理李克强在夏季达沃斯论坛总理李克强在夏季达沃斯论坛上总理李克强在夏季达沃斯论坛上上公开发布出“大众创业、万众创新”...
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div v-if="productType==7&&CurrentTab==3" style="padding-top:0.88rem;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-media list-item" v-on:click="Redirect('/unique/fabricate')">
                    <img class="mui-media-object mui-pull-right" src="~/Content/image/MilitaryCivilian/space_box2.png">
                    <div class="mui-media-body">
                        <span class="li-title">中国制造2025会议</span>
                        <p class="mui-ellipsis-box">
                            十八大以来，习近平总书记着眼于实现强军梦、中国梦，鲜明地提出了军民深度融合的时代命题，并将之上升为国家战略，开创了军民融合式发展新局面。飞天众智中国制造科技服务平台做为中国航天军民融合科技服务的窗口，依托中国航天高端人才队伍，由80余名两院院士、高级将领、知名企业家组成的钱学森顾问委员会；由150余名长江学者、千人计划专家、国家杰出青年专家组成的钱学森创新委员会；自2015年10月起，举办各类论坛、军民融合会议、企业沙龙、宣讲会、技术对接等会议超过了80场，合作政府、园区超过50家，对接企业7558家。
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div v-if="productType==7&&CurrentTab==4" style="padding-top:0.88rem;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-media list-item" v-on:click="Redirect('/unique/breeding')">
                    <img class="mui-media-object mui-pull-right" src="~/Content/image/MilitaryCivilian/space_box2.png">
                    <div class="mui-media-body">
                        <span class="li-title">航天育种</span>
                        <p class="mui-ellipsis-box">
                            随着科学技术的发展，人们探索外部世界的活动由陆地延伸到海洋、拓展到太空。今天，我们对太空进行着新的探索。太空环境的特点是高远位置、高洁净、高真空、微重力、多种宇宙射线、重粒子和交变磁场等。这个特殊环境给金属冶炼、合成材料、制药、旅游观光、天文观测和诱变育种创造了理想的条件。
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div v-if="productType==7&&CurrentTab==5" style="padding-top:0.88rem;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-media list-item" v-on:click="Redirect('/unique/defence')">
                    <img class="mui-media-object mui-pull-right" src="~/Content/image/defence-1.png">
                    <div class="mui-media-body">
                        <span class="li-title">国防域名注册</span>
                        <p class="mui-ellipsis-box">
                            国防域名（MIL.CN）是经工业和信息化部批准，为我国国防单位单独设立的，具有专属性和安全性的互联网域名。
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div v-if="productType==7&&CurrentTab==6" style="padding-top:0.88rem;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-media list-item" v-on:click="Redirect('/unique/diLac')">
                    <img class="mui-media-object mui-pull-right" src="~/Content/image/defence-1.png">
                    <div class="mui-media-body">
                        <span class="li-title">国防实验室认可（Dilac）咨询业务</span>
                        <p class="mui-ellipsis-box">
                            国防域名（MIL.CN）是经工业和信息化部批准，为我国国防单位单独设立的，具有专属性和安全性的互联网域名。
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!----->
        <div v-if="productType==7&&CurrentTab==7" style="padding-top:0.88rem;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-media list-item" v-on:click="Redirect('/unique/experience')">
                    <img class="mui-media-object mui-pull-right" src="/Content/image/MilitaryCivilian/Experience_bg.png">
                    <div class="mui-media-body">
                        <span class="li-title">航天体验园</span>
                        <p class="mui-ellipsis-box">
                            飞天众智集成独有的航天资源与各地政府、企业合作建立航天体验园。让游客在真实的体验中普及航天知识、传播航天文化、弘扬航天精神、提升爱国主义情怀。将航天知识及国防教育的普及过程以全新形式进行展现。
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div v-if="productType==7&&CurrentTab==8" style="padding-top:0.88rem;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-media list-item" v-on:click="Redirect('/unique/deepbbs')">
                    <img class="mui-media-object mui-pull-right" src="/Content/image/MilitaryCivilian/bbs_bg.png">
                    <div class="mui-media-body">
                        <span class="li-title">钱学森专题</span>
                        <p class="mui-ellipsis-box">
                            飞天众智依托航天集成创意中心定位于支撑钱学森智库建设，建设实体智库，打造高端服务平台
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div v-if="productType==7&&CurrentTab==9" style="padding-top:0.88rem;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-media list-item" v-on:click="Redirect('/unique/workstation')">
                    <img class="mui-media-object mui-pull-right" src="/Content/image/MilitaryCivilian/ws-img.png">
                    <div class="mui-media-body">
                        <span class="li-title">院士工作站</span>
                        <p class="mui-ellipsis-box">
                            飞天众智以其自身院士工作站的建立、运营经验及平台积累的60余位两院院士资源，开展院士工作站建设业务，为企业建立“院士工作站”提供全链条服务。
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <rightsidebar></rightsidebar>
</div>

