
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UploadContractView</title>
</head>
<body>
    <div> 
        我的对接——添加协议页面；
    </div>
</body>
</html>
