.my_data{
	width: 100%;
	height: 1.75rem;
	padding-top: 0.32rem;
	background: url(../../../image/my_bg.png) no-repeat center center;
}
.data_box{
	width: 94.5%;
	margin-left: 4%;
	height: 1.10rem;	
}
.portrait{
	display: block;
	float: left;
	width: 1.10rem;
	height: 1.10rem;
	background-size: 1.10rem 1.10rem;
}
.data_right{
	width: 81.4%;
    height: 100%;
    float: left;
    margin-left: 3%;
}
.information,.name{
	width: 100%;
	height: 50%;
	position: relative;	
}
.information p{
	width: 65%;
	float: left;
	font-size: 0.30rem;
	color: #fff;
}
.information a{
	display: block;
	float: right;
	font-size: 0.28rem;
	color: #fff;
	text-align: right;
}
.name li{
	float: left;
	width: 50%;
}
.name1{
	font-size: 0.30rem;
	color: #fff;
}
.members{		
	height: 0.40rem;
    color: #fff;	
}
.members img{
	display: block;
	width: 0.30rem;
	height: 0.30rem;
	float: left;
	margin-top: 0.05rem;
    margin-left: 4%;
	
}
.rank{
	float: left;
	margin-left: 0.1rem;
	font-size: 0.26rem;
    line-height: 0.4rem;	
}
.mui-badge {
    font-size: 12px; */
    /* line-height: 1; */
    display: inline-block;
    padding: 0px 0px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.mui-badge-blue, .mui-badge-primary {
    color: #fff;
    background-color:red;
}
.mui-table-view {
    
    color: #444444;
}
.mui-table-view-cell>.mui-badge{
	right: 37px;
}
.myIcon{
	width: 0.36rem;
	height: 0.39rem;
	float: left;
	display: block;
    margin-top: 0.05rem;
    margin-right: 3%    	
}
.myButt{
	width: 0.36rem;
	height: 0.36rem;
	float: left;
	display: block;
    margin-top: 0.05rem;
    margin-right: 3%    
}
.recommend{
	width: 0.37rem;
	height: 0.38rem;
	float: left;
	display: block;
    margin-top: 0.04rem;
    margin-right: 3%
}
.myWisdom{
	width: 0.35rem;
	height: 0.37rem;
	float: left;
	display: block;
    margin-top: 0.05rem;
    margin-right: 3%
}
.myPrize{
	width: 0.36rem;
	height: 0.33rem;
	float: left;
	display: block;
    margin-top: 0.08rem;
    margin-right: 3%
}
/*.mui-table-view-cell {
    position: relative;
    overflow: hidden;
    padding: 11px 10px;
    -webkit-touch-callout: none;
}*/
.mui-navigate-right:after, .mui-push-right:after {
    right: 0px;
    content: '\e583';
}
.mui-table-view-cell:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 38px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}
.mui-table-view-cell>a:not(.mui-btn) {
    position: relative;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px 0px;
    margin: 0px 0px;
    color: inherit;
    width: 91%;
    float: left;
}
.mui-table-view-cell.mui-collapse .mui-table-view {
    margin-top: 30px;
}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell {
    padding-left: 43px;
    background-position: 31px 100%;
}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell:after{
	left: 42px;
}
.mui-collapse-content .mui-table-view{
	color: #666;
}
.mui-table-view-cell.mui-collapse.mui-active.mui-table-view-cell>a:not(.mui-btn).mui-active{
	margin-left: 0px;
	padding-left: 0px;
}
.mui-table-view-cell.mui-collapse .mui-collapse-content{
	    margin: 0px -15px -11px;
    padding: 0px 15px;
}
.mui-table-view-cell.mui-collapse .mui-table-view{
	margin-bottom: 0px;
    margin-top: 0px
}
/*------------*/
.mui-table-view-cell.mui-collapse .mui-table-view {
    margin-bottom: 0px;
    margin-top: 0px;
}
.mui-table-view-cell.mui-collapse .mui-table-view {
    margin-bottom: 0px;
    margin-top: 0px;
}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell {
    padding-left: 43px;
    background-position: 31px 100%;
}