@{
    ViewBag.Title = "领取奖品";
    Layout = "~/Views/Shared/_LayoutWebpack.cshtml";
}
@section head{
    <link rel="stylesheet" href="/Content/css/pulli.css" />
    <link rel="stylesheet" href="/Content/css/myBusiness/myPrize/getSuccess.css" />
}
<header class="mui-bar mui-bar-nav" style="background: #fff;">
    <a class="mui-icon-arrowleft mui-icon mui-icon-left-nav mui-pull-left" href="/act/myprize"></a>
    <h1 class="mui-title">领取奖品</h1>
</header>
<div class="mui-content" style="background: #fff;">
    <div class="success">
        <img src="/Content/image/success.png" />
        <p class="p_text">您的奖品已领取成功</p>
        <p class="p_text2">客服将会在10个工作日之内寄出，感谢您的支持！</p>
    </div>
</div>