@{
    ViewBag.Title = "已提交";
    Layout = "~/Views/Shared/_LayoutWebpack.cshtml";
}
@section head{
    <link rel="stylesheet" href="/content/css/pulli.css" />
    <link rel="stylesheet" href="/content/css/release/submit.css" />
}

<header class="mui-bar mui-bar-nav aHeader" style="background: #fff;">
    <a class="mui-icon-arrowleft mui-icon mui-icon-left-nav mui-pull-left" href="/"></a>
    <h1 class="mui-title">需求已提交</h1>
</header>
<div class="mui-content" style="background: #fff;">
    <div class="box">
        <img src="/content/image/Need_submit.png" />
        <p class="p_text">您的需求已提交，可进入<a href="/demand/publishdemand">我的需求</a>查看</p>
        <p class="p_text" style="font-size: 0.14rem;color: #969696;">我们会在24小时内审核您的需求，请保持电话畅通。</p>
    </div>
</div>