@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/Shared/_LayoutWebpack.cshtml";
}

<link rel="stylesheet" href="/content/css/pulli.css" />
<link rel="stylesheet" href="/content/css/aboutUs/contactUs.css" />

<header class="mui-bar mui-bar-nav" style="background: #fff;">
    <a class="mui-icon-arrowleft mui-icon mui-icon-left-nav mui-pull-left" href="/"></a>
    <h1 class="mui-title">关于我们</h1>
</header>
<div class="mui-content l-scrollable" style="background: #fff;">
    <ul class="content_table">
        <li class="text_color">平台简介<i style="display: block;"></i></li>
        <li>招贤纳士<i></i></li>
        <li>联系我们<i></i></li>
    </ul>
    <!--平台简介-->
    <div class="we" style="display: block;">
        <img src="/content/image/platform.png" class="platform_img" />
        <div class="CompanyName">
            <h3>平台简介</h3>
            <img src="/content/image/division.png" class="division" />
            <p class="platform_text">飞天众智中国制造科技服务平台由中国航天系统科学与工程研究院、上海张江高科技园区开发股份有限公司联合发起并成立，是一个着眼“中国制造2025”战略性新兴产业，助力“大众创业、万众创新”，并致力于打造中国领先的开放式公共技术服务平台。平台主体——上海飞天众知科技服务有限公司坐落于上海张江核心园。</p>
            <p class="platform_text2">飞天众智运用“互联网+”战略思维，采用开放式创新和共享经济的模式，通过“需求牵引、技术推动”的形式打通科技与经济的通道。运用O2O互联网技术交易方式：以线上注册和数据导流集聚巨量的企业技术需求数据，吸引众多技术专家、科技人员等进行线上技术交易对接；同时，在线下组建强大的市场开发和技术支持团队，线上与线下紧密结合，为技术供需各方的无缝合作提供技术、资金、孵化、交流、评估、认证等一系列服务。</p>
            <div class="platform_footer">
                <img class="icon_img" src="/content/image/icon_img.png" />
                <ul class="brand_ul">
                    <li>
                        <div class="brand_img"><img src="/content/image/brand1.png" /></div>
                        <h3 class="brand_h3">品牌起源</h3>
                        <p class="brand_text">“飞天”是以航天科技为代表的先进科学技术,“众智”代表凝聚大众的智慧结晶，提倡众创、众包</p>
                    </li>
                    <li>
                        <div class="brand_img2"><img src="/content/image/brand2.png" /></div>
                        <h3 class="brand_h3">品牌愿景</h3>
                        <p class="brand_text2">成为最受尊重的全球制造业技术共享平台</p>
                    </li>
                </ul>
                <ul class="platform_ul">
                    <li>
                        <div class="terrace_img"><img src="/content/image/terrace.png" /></div>
                        <h3 class="brand_h3">平台使命</h3>
                        <p class="brand_text3">让研发成本更低，效率更高</p>
                    </li>
                    <li>
                        <div class="terrace_img2"><img src="/content/image/zu6.png" /></div>
                        <h3 class="brand_h3">平台价值观</h3>
                        <p class="brand_text4">产业报国 需求牵引 技术推动 协同创新</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--招贤纳士-->
    <div class="we" style="background: #f2f1f7;">
        <img src="/content/image/recruitment.png" class="recruitment_img" />
        <div class="email">
            岗位<span style="float:none;margin-left:0.20rem">简历投递邮箱：hr@techina2025.com</span>
        </div>
        <ul class="mui-table-view">
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#" style="font-size: 0.30rem;color: #0e5bb5;"><img class="recruitment_icon" src="/content/image/re.png" />.NET软件开发工程师（招聘人数：23人）</a>
                <div class="mui-collapse-content">
                    <div class="obligation1">
                        <h3>岗位职责：</h3>
                        <p>1.参与项目需求调研、需求分析，参与系统框架设计、数据库设计以及核心模块的详细设计</p>
                        <p>2.根据项目开发进度和任务分配，开发符合系统要求的相应软件模块</p>
                        <p>3.根据公司技术文档规范编写相应的技术文档</p>
                        <p>4.负责代码及数据库调优，及时发现和修正可能存在的系统漏洞</p>
                        <p>5.协助团队成员解决系统运行过程中出现的问题</p>
                    </div>
                    <div class="obligation2">
                        <h3>任职资格：</h3>
                        <p>1.计算机类专业本科学历，2年及以上.NET项目开发经验</p>
                        <p>2.熟悉.NET框架，能独立开发基于Asp.net MVC的B/S系统</p>
                        <p>3.能够熟练应用SQLServer/NOSQL，有实际大数据量数据库的设计经验及性能优化经验</p>
                        <p>4.熟悉缓存技术，熟悉设计模式，了解SOA架构理念、实现技术</p>
                        <p>5.具备优秀的逻辑思维能力、系统分析和设计能力，学习能力突出，技术钻研能力强</p>
                        <p>6.勤奋敬业，责任心强，乐于协作分享，能够承担工作压力</p>
                    </div>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#" style="font-size: 0.30rem;color: #0e5bb5;"><img class="recruitment_icon" src="/content/image/re.png" />.软件产品经理（招聘人数：1人）</a>
                <div class="mui-collapse-content">
                    <div class="obligation1">
                        <h3>岗位职责：</h3>
                        <p>1.独立产品的市场调研、需求分析、产品规划与设计功能流程设计，输出产品需求文档</p>
                        <p>2.跟进开发进度和产品迭代等完整产品环节，达成产品最终交付上线。对产品用户体验指标和产品市场指标负责</p>
                        <p>3.不断挖掘深度需求，优化交互设计，提升用户体验，保持产品的竞争性和用户黏性；配合市场、运营做出规划，完成产品功能迭代</p>
                    </div>
                    <div class="obligation2">
                        <h3>任职资格：</h3>
                        <p>1.本科以上，软件设计相关专业</p>
                        <p>2.3年以上互联网产品经理工作经验,拥有B2C/B2B平台及APP软件产品经验，独立负责过一款成功的产品</p>
                        <p>3.较好的行业敏感度和需求整理能力、产品规划能力；精通axure、visio、mindmanager等产品工具使用，对技术实现具和可行性、技术成本有良好评估能力；关注国内外的移动互联网产品，对新鲜事物有强烈好奇心</p>
                        <p>4.具有优秀的沟通能力、执行力和产品判断力，有极强的工作热情。有Android、OS软件设计和团队协作经验</p>
                    </div>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#" style="font-size: 0.30rem;color: #0e5bb5;"><img class="recruitment_icon" src="/content/image/re.png" />高级系统网络工程师（招聘人数：2人）</a>
                <div class="mui-collapse-content">
                    <div class="obligation1">
                        <h3>岗位职责：</h3>
                        <p>1.负责公司业务系统网络及服务器的日常运维，确保各应用系统处于良好运行状态</p>
                        <p>2.保障在线业务的持续优化和平滑升级，建立可靠的网络、存储和服务器的备份体系，制定灾难恢复计划</p>
                        <p>3.监控网络及服务器的运行状况，负责公司网络及服务器基础架构的设计和规划</p>
                        <p>4.根据公司业务及管理的需求，优化和完善公司网络基础架构</p>
                        <p>5.建立规范化的运维体系、探索、研究新的运维技术方向</p>
                    </div>
                    <div class="obligation2">
                        <h3>任职资格：</h3>
                        <p>1.4年运维经验，精通Linux\Windows等主流操作系统</p>
                        <p>2.具备常见网络设备配置能力，可以独立对线上网络设备进行日常维护和管理，包括交换机、防火墙、路由器等</p>
                        <p>3.精通MS SQL Server数据库，精通数据库集群技术、维护及日常备份</p>
                        <p>4.熟悉WEB相关技术，包括IIS/nginx等应用的管理、配置和优化</p>
                        <p>5.熟悉nagios/zabbix、cacti等监控平台</p>
                        <p>6.熟悉集群系统架构、负载均衡、性能优化、熟悉网络和存储系统规划、设计，能利用Pthoy语言编写脚本工具</p>
                        <p>7.要求有良好的执行力，积极上进，有责任心,勤奋敬业，责任心强，乐于协作分享，能够承担工作压力</p>
                    </div>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#" style="font-size: 0.30rem;color: #0e5bb5;"><img class="recruitment_icon" src="/content/image/re.png" />市场BD专员（招聘人数：1人）</a>
                <div class="mui-collapse-content">
                    <div class="obligation1">
                        <h3>岗位职责：</h3>
                        <p>1.根据公司业务发展需求寻找挖掘有利于公司的合作资源，负责洽谈合作，签订协议等</p>
                        <p>2.负责协调维护媒体关系，与媒体建立稳定的合作关系，协助软文撰写</p>
                        <p>3.负责合作方案的策划与执行等</p>
                        <p>4.负责合作推广效果的跟踪、数据分析和反馈及优化调整等工作</p>
                    </div>
                    <div class="obligation2">
                        <h3>任职资格：</h3>
                        <p>1.本科及以上学历，2年以上BD拓展、媒体关系工作经验，有相关资源者优先</p>
                        <p>2.有一定的文案创作和编写能力，能结合项目协助撰写符合市场需要的软文</p>
                        <p>3.熟悉商务拓展流程，资源互换的合作模式</p>
                        <p>4.具有敏锐的市场洞察力，丰富的项目策划、实施经验，沟通、协调、推动能力强</p>
                        <p>5.具有互联网平台相关工作经验</p>
                        <p>6.具有良好的团队合作精神和学习能力，能够承受工作压力，适应团队企业文化</p>
                    </div>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#" style="font-size: 0.30rem;color: #0e5bb5;"><img class="recruitment_icon" src="/content/image/re.png" />检测行业工程师（招聘人数：2人）</a>
                <div class="mui-collapse-content">
                    <div class="obligation1">
                        <h3>岗位职责：</h3>
                        <p>1.在行业经理的领导下，全面开展相关行业（检测）的平台工作</p>
                        <p>2.负责对平台数据库内技术需求进行审核、对接等相关工作，对所属行业的信息要有清晰的辨别和准确的分析能力</p>
                        <p>3.要有一定的项目洽谈能力，积极解决项目中的相关技术问题，配合业务人员推进项目的顺利完成</p>
                        <p>4.按照部门的ERP工作流程，认真填写相关的数据表单，有一定的表单处理及编写能力</p>
                        <p>5.遵循平台运营需要，运用自己的行业经验，不断提升和完善平台行业体系</p>
                        <p>6.维护平台数据安全性</p>
                    </div>
                    <div class="obligation2">
                        <h3>任职资格：</h3>
                        <p>1.985、211工程 本科及以上学历，（检测）行业知识结构全面</p>
                        <p>2.3年以上工相关作经验，处理过相关行业项目优先</p>
                        <p>3.具有检测行业的综合分析能力，及时掌握和了解国家的相关检测标准</p>
                        <p>4.具备较强的逻辑思维能力，责任心和事业心强</p>
                        <p>5.具有一定的抗压能力，团队协作精神</p>
                    </div>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#" style="font-size: 0.30rem;color: #0e5bb5;"><img class="recruitment_icon" src="/content/image/re.png" />体系/认证行业工程师（招聘人数：1人）</a>
                <div class="mui-collapse-content">
                    <div class="obligation1">
                        <h3>岗位职责：</h3>
                        <p>1.在行业经理的领导下，全面开展相关行业（体系/认证）的平台工作</p>
                        <p>2.负责对平台数据库内技术需求进行审核、对接等相关工作，对所属行业的信息要有清晰的辨别和准确的分析能力</p>
                        <p>3.要有一定的项目洽谈能力，积极解决项目中的相关技术问题，配合业务人员推进项目的顺利完成</p>
                        <p>4.按照部门的ERP工作流程，认真填写相关的数据表单，有一定的表单处理及编写能力</p>
                        <p>5.遵循平台运营需要，运用自己的行业经验，不断提升和完善平台行业体系</p>
                        <p>6.维护平台数据安全性</p>
                    </div>
                    <div class="obligation2">
                        <h3>任职资格：</h3>
                        <p>1.985、211工程 本科及以上学历，（体系/认证）行业知识结构全面</p>
                        <p>2.3年以上工相关作经验，处理过相关行业项目优先</p>
                        <p>3.具有相关行业的综合分析能力</p>
                        <p>4.具备较强的逻辑思维能力，责任心和事业心强</p>
                        <p>5.具有一定的抗压能力，团队协作精神</p>
                    </div>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#" style="font-size: 0.30rem;color: #0e5bb5;"><img class="recruitment_icon" src="/content/image/re.png" />技术服务客户工程师（招聘人数：5人）</a>
                <div class="mui-collapse-content">
                    <div class="obligation1">
                        <h3>岗位职责：</h3>
                        <p>1.负责所有需求的回访工作，查询解答，给予第一时间反馈</p>
                        <p>2.负责客户电话回访，跟进及做好客户的关怀工作</p>
                        <p>3.负责做好客户对各项反馈信息的统计、分析和汇报</p>
                        <p>4.配合部门维护客户服务体系，建立客户服务档案，跟踪并及时反馈</p>
                        <p>5.受理客户的相应投诉</p>
                        <p>6.配合领导完成其他工作事项</p>
                    </div>
                    <div class="obligation2">
                        <h3>任职资格：</h3>
                        <p>1.本科及以上学历</p>
                        <p>2.具有2年互联网客服工作及理工科背景优先考虑</p>
                        <p>3.具备较强的沟通协调能力，责任心和事业心强</p>
                        <p>4.具有一定的抗压能力</p>
                        <p>5.能适应短期出差</p>
                    </div>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#" style="font-size: 0.30rem;color: #0e5bb5;"><img class="recruitment_icon" src="/content/image/re.png" />数据分析（招聘人数：1人）</a>
                <div class="mui-collapse-content">
                    <div class="obligation1">
                        <h3>岗位职责：</h3>
                        <p>1.在经理的领导下，全面开展平台业务数据分析工作</p>
                        <p>2.负责对平台数据库内数据进行统计、分析，按照公司领导层及各业务团队需要整理各类统计分析报表</p>
                        <p>3.负责结合平台数据库内数据及业务团队业务开展需要，采集相应数据进行分析，整理行业、地域分析报告</p>
                        <p>4.遵照领导意图搭建平台数据分析体系，不断完善平台数据分析报告内容，为平台发展、决策提供数据支撑</p>
                        <p>5.维护平台数据准确性、安全性</p>
                    </div>
                    <div class="obligation2">
                        <h3>任职资格：</h3>
                        <p>1.大学本科及以上学历，知识结构全面</p>
                        <p>2.3年以上工作经验，2年以上数据分析经验</p>
                        <p>3.具有编写咨询报告或行业报告相关经验</p>
                        <p>4.具备较强的逻辑思维能力，责任心和事业心强</p>
                        <p>5.具有一定的抗压能力</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!--联系我们-->
    <div class="we">
        <img src="/content/image/map.png" class="map_img" />
        <div class="CompanyName">
            <h3>上海飞天众知科技服务有限公司</h3>
            <img src="/content/image/division.png" class="division" />
        </div>
        <p class="address">地址：上海浦东新区张江高科技服务园区张东路1387号11-01栋</p>
        <p class="phone">电话：400-920-2025 （上午9:00 ～ 下午5:30）</p>
        <p class="email_box">邮箱：service@techina2025.com</p>
        <p class="URL" style="margin-bottom: 10px;">网址：www.techina2025.com</p>
        <div class="CompanyName">
            <h3>飞天众智全国创新服务中心分布图</h3>
            <img src="/content/image/division.png" class="division" />
        </div>
        <p class="address">飞天众智平台结合自身业务优势与全国各地政府及园区合作，已围绕上海、浙江、江苏、安徽、湖南等地区建立了109个园区服务协同中心。 专门收集政府及园区相关产业信息，获取大量的企业技术需求、科研单位大量的研发资源，有效促进供需双方项目对接，助力中国中小型企业产业升级，缩短中国制造与发达国际的制造水平，引领中国制造走向新的高度！</p>
        <img src="/content/image/map_footer.png" class="map_footer" />
    </div>
</div>

@section foot
{
    <script src="~/Content/Plugins/mui/mui.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".mui-content .content_table li").click(function(){
                $(this).addClass("text_color").siblings().removeClass("text_color");
                $(".mui-content .content_table li i").css("display", "none").eq($(this).index()).css("display", "block");
                $(".mui-content .we").css("display", "none").eq($(this).index()).css("display", "block");

            })
        })
    </script>
}