@{
    ViewBag.Title = "已保存";
    Layout = "~/Views/Shared/_LayoutWebpack.cshtml";
}

@section head{
    <link rel="stylesheet" href="/content/css/pulli.css" />
    <link rel="stylesheet" href="/content/css/save.css" />
}

<header class="mui-bar mui-bar-nav aHeader" style="background: #fff;border-bottom:1px solid #ddd">
    <a class="mui-icon-arrowleft mui-icon mui-icon-left-nav mui-pull-left" href="/patent/"></a>
    <h1 class="mui-title">专利已保存</h1>
</header>
<div class="mui-content">
    <div class="box">
        <img src="/content/image/Need_save.png" />
        <p class="p_text" style="width:94%">您的专利已保存，您可以进入<a href="/patent/releaseadministerpatent">我的技术专利</a>查看我的技术专利</p>
    </div>
</div>