@{
    ViewBag.Title = "已提交";
    Layout = "~/Views/Shared/_LayoutWebpack.cshtml";
}
@section head{
    <link rel="stylesheet" href="/content/css/pulli.css" />
    <link rel="stylesheet" href="/content/css/release/submit.css" />
}

<header class="mui-bar mui-bar-nav aHeader" style="background: #fff;">
    <a class="mui-icon-arrowleft mui-icon mui-icon-left-nav mui-pull-left" href="/"></a>
    <h1 class="mui-title">专利已提交</h1>
</header>
<div class="mui-content" style="background: #fff;">
    <div class="box">
        <img src="/content/image/Need_submit.png" />
        <p class="p_text" style="width:94%">您的专利已提交，请等待平台审核，您可以进入<a href="/patent/releaseadministerpatent">我的技术专利</a>查看</p>
    </div>
</div>