@{
    ViewBag.Title = "技术合伙人";
    Layout = "~/Views/Shared/_LayoutWebpack.cshtml";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>技术合伙人</title>
<link href="/Content/css/intic.css" rel="stylesheet" />
<link href="/Content/css/recommend/recommend.css" rel="stylesheet" />
<header class="mui-bar mui-bar-nav head_box head-secd">
    <a class="mui-icon mui-icon-arrowleft mui-icon-left-nav mui-pull-left" href="javascript:void(0)" id="back"></a>
    <h1 class="mui-title">技术合伙人</h1>   
    <a class="return" data-clipboard-action="copy" id="Copy0"></a>
</header>

<div class="mui-content body_content remd-content l-scrollable" style="padding-top:44px;padding-bottom:44px">
    <foot></foot>
    <section class="remd-banner">
        <img src="/Content/image/recommend/remcond-banner.png" />
    </section>
    <section class="remd-main">
        <!--什么是智汇经济人-->
        <div class="what-warp">
            <h4>什么是技术合伙人？</h4>
            <div class="wt-text">
                <p >技术合伙人是指通过 “发展智友（推荐好友注册）”、“
                提交有效需求”、 “技术项目解决者”、“资源提供者”等
                各类合作方式，与飞天众智平台共同解决企业技术需求
                 ，获取相应智币奖励及专属权益的个人或组织。</p>
                <div class="ipd"><i></i></div>
            </div>
        </div>
        <!--技术合伙人，您将获得8大专属权益-->
        <div class="enigth-warp">
            <h4>技术合伙人，您将获得8大专属权益</h4>
            <div class="Exclusive">
                <!--<img src="../image/recommend/enithflow.png"/>-->
            </div>
        </div>
        <!--技术合伙人奖励-->
        <div class="reward">
            <h4>技术合伙人奖励</h4>
            <table class="rewad-tab">
                <thead>
                    <tr>
                        <td style="width:22%;text-align:center">获取方式</td>
                        <td style="width:32%;text-align:center">可获得智币奖励</td>
                        <td style="width:42%;text-align:center">说明</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:center">发展智友</td>
                        <td style="text-align:center">50个智币/位</td>
                        <td style="border-right: 0;text-align:center">无上限</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">智友发布<br>有效需求</td>
                        <td style="text-align:center">100个智币/位</td>
                        <td style="border-right: 0;">1.奖励无上限；<br>2.智币奖励可享受18个月，以需求审核通过日为准；</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">智友有效<br>解决需求</td>
                        <td style="text-align:center">200个智币/位</td>
                        <td style="border-right: 0;">1.奖励无上限；<br> 2.智币奖励可享受18个月，以需求审核通过日为准；</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="reward">
            <h4>技术合伙人等级及申请</h4>
            <table class="rewad-tab">
                <thead>
                    <tr>
                        <td style="width:35%;text-align:center">等级</td>
                        <td style="width:65%;text-align:center">条件</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:center">初级技术合伙人</td>
                        <td style="border-right: 0;text-align:center">只要在我方平台成功注册即可</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">中级技术合伙人</td>
                        <td style="border-right: 0;">
                            已在我方平台成功注册后，满足以下任一条件即可向平台提交申请升级，我方平台审核通过后，即可成为平台中级技术合伙人
                            <br>
                            <ul class="supply">
                                <li><span style="float:left;margin-bottom:2px;">拥有政府颁发的技术合伙人证书，且成功发布1条有效需求； </span></li>
                                <li><span style="float:left;">如无技术合伙人证书，则需成功发布1条有效技术需求并成功发展5位智友。</span></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--技术合伙人操作指南-->
        <div class="manual">
            <h4>技术合伙人操作指南</h4>
            <ul class="manu-list">
                <li><i>1</i><span>技术合伙人，可以通过被邀请人人数、被邀请人发布需求数、对接成功数等获取相应智币；智币达到一定数量即可自动进行会员升级，享受不同的会员等级特权服务；</span></li>
                <li><i>2</i><span>您可以通过“技术合伙人”中的“<a data-clipboard-action="copy"   id="Copy1">我要推荐</a>”，将邀请码或者邀请链接/邀请短信发给您的亲朋好友（称为“被邀请人”），被邀请人在我平台注册时，邀请人一栏中填入您的手机号即可成为您的“智友”； </span></li>
                <li><i>3</i><span>技术合伙人发展的智友注册成功、需求发布成功、需求对接成功，技术合伙人均可获得相应的奖励，相关奖励在“技术合伙人”的“<a href="/agent/agentreward">我的奖励</a>”中查询；</span></li>
                <li><i>4</i><span>技术合伙人的智友发展及解决需求的TOP10进行排名及额外奖励，可在“技术合伙人”的“排行榜“中查询。</span></li>
            </ul>
        </div>
    </section>
</div>
@Html.Partial("_Share")
@section foot{
<script src="~/dist/agent.index.bundle.js"></script>
<script src="~/dist/share.bundle.js"></script>
    }
