
@{
    ViewBag.Title = "技术合伙人成果";
    Layout = "~/Views/Shared/_LayoutWebpack.cshtml";
}
<header class="mui-bar mui-bar-nav" style="background: #fff;border-bottom: 1px solid #ddd;">
    <a href="javascript:void(0)" id="back" class="mui-icon-arrowleft mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">@ViewBag.Title</h1>
</header>
<meta charset="UTF-8">
<title>技术合伙人成果</title>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" href="/Content/css/myBusiness/myReward/agentResults.css" />
<div class="mui-content" id="content"  v-cloak>
    <foot></foot>
    <ul class="wisdom_title">
        <li>当前等级：<span>{{agent.AgentLevelId|AgentLevel}}</span></li>
        <li id="index"><img src="/Content//image/explain.png" /><span>技术合伙人说明</span></li>
    </ul>
    <ul class="friends_table">
        <li class="text_color">已发展好友<i style="display: block;"></i></li>
        <li>好友发布<i></i></li>
        <li>好友承接<i></i></li>
    </ul>
    <!------以发展好友------->
    <div class="friends_content l-scrollable" style="display: block;" v-if="friends.length>0">
        <div class="result_content" v-for="f in friends">
            <div class="result_content1">
                <div class="date_title">
                    编号：
                    <span class="result">{{f.Id}}</span>
                    <span class="date">{{f.CreateTime|formatDate}}</span>
                </div>
                <div class="state_box">
                    <div class="p_title">
                        <p class="mui-ellipsis">{{f.RealName}}</p>
                        <span class="oSpan" style="color:darkgray">类型：{{f.UserType|u}}</span>
                    </div>
                    <ul class="footer_number">
                        <li>
                            <img src="/Content//image/name1.png" />
                            <span>{{f.Mobile}}</span>
                        </li>
                        <li>
                            <img src="/Content/image/BasicInformation/email.png" />
                            <span class="">{{f.Email}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!---------好友发布---->
    <div class="friends_content l-scrollable" v-if="Frelease.length>0">
        <div class="result_content" v-for="fr in Frelease" v-on:click="Detail(fr.Id)">
            <div class="result_content1">
                <div class="date_title">
                    编号：
                    <span class="result">{{fr.Id}}</span>
                    <span class="date">{{fr.CreateTime|formatDate}}</span>
                </div>
                <div class="state_box">
                    <div class="p_title">
                        <p class="mui-ellipsis">{{fr.Title}}</p>
                        <span class="oSpan">{{fr.DockingStatus}}</span>
                    </div>
                    <ul class="footer_number">
                        <li>
                            <img src="/Content//image/name1.png" />
                            <span>{{fr.UserName}}</span>
                        </li>
                        <li>
                            <img src="/Content//image/money1.png" />
                            <span class="">{{fr.TargetAmount}}</span>元
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!---------好友承接---->
    <div class="friends_content l-scrollable" v-if="Fabut.length>0">
        <div class="result_content" v-for="fa in Fabut" v-on:click="Detail(fa.Id)">
            <div class="result_content1">
                <div class="date_title">
                    编号：
                    <span class="result">{{fa.Id}}</span>
                    <span class="date">{{fa.Createtime|formatDate}}</span>
                </div>
                <div class="state_box">
                    <div class="p_title">
                        <p class="mui-ellipsis">{{fa.Title}}</p>
                        <span class="oSpan">{{fa.DockingStatus }}</span>
                    </div>
                    <ul class="footer_number">
                        <li>
                            <img src="/Content//image/name1.png" />
                            <span>{{fa.UserName}}</span>
                        </li>
                        <li>
                            <img src="/Content//image/money1.png" />
                            <span class="">{{fa.TargetAmount}}</span>元
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section foot
{
<script src="~/Content/Plugins/layer/layui.all.js"></script>
    <script src="~/dist/agent.memberindex.bundle.js"></script>
<script type="text/javascript">			
    $(function () {
        $(".ft-tab a").removeClass("mui-active");
        $('#agent').addClass("mui-active");
        $(".mui-content .friends_table li").click(function () {
            $(this).addClass("text_color").siblings().removeClass("text_color");
            $(".mui-content .friends_table li i").css("display", "none").eq($(this).index()).css("display", "block");
            $(".mui-content .friends_content").css("display", "none").eq($(this).index()).css("display", "block");

        })

    })
    </script>
}