html{
	background: #fff;
}
.success{
	border-top: 1px solid #ddd;
	overflow: hidden;
	height: auto;
	padding-top: 50px;
	margin: 0 auto;
}
.success img{
	display: block;
	margin: 0 auto;
	width: 2.06rem;
	height: 2.94rem;
}
.p_text{
	width: 100%;
	text-align: center;
	font-size: 0.30rem;
	color: #0e5bb5;
    margin-top: 15px;	
}
.p_text2{
	width: 100%;
	text-align: center;
	font-size: 0.30rem;
	color: #444444;
}
.mui-bar .mui-right-text{
	font-size: 17px;
	color: #ff6525;
	margin-top: 5px;
}