html{
	background: #fff;
}
p,body{
	line-height: 0.40rem;
}
p{
	margin-bottom: 0px;
}
.prompt{
	font-size: 0.30rem;
	padding: 0.10rem 0px;
	text-align: center;
	color: #b57f22;
	border-bottom: 1px solid #ffd38e;
	background: #fff1dd;
	border-top:1px solid #ddd ;
}
.information_box {
    padding: 0 3%;
    height: auto;
    overflow: auto;
    background: #fff;
}
.name_title {
    width: 100%;
    padding: 0.15rem 0px;
    color: #bbbbbb;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.name_title span,.quantities span {
    font-size: 0.32rem;
    color: #444444;
}
input[type=text] {
    width: 75%;
    float: right;
    margin-bottom: 0px;
    padding: 0;
    height: 20px;
    border: none;
    color: #444;
    font-size: 15px;
    text-align: right;
}
.description {
    padding: 0.15rem 0;
    overflow: hidden;
    height: auto;
    font-size: 0.30rem;
    color: #444;
    background: #fff;
}
.description_title {
    color: #444;
    font-size: 0.32rem;
    width: 100%;
    margin-bottom: 0.20rem;
}
.text {
    font-size: 0.30rem;
    color: #444444;
    border: none;
    padding: 0rem;
    line-height: 0.38rem;
    margin-bottom: 0px;
}
.need{
	overflow: hidden;
	height: auto;
	padding:0.10rem 0px;
	background: #f5f5f5;
}
.quantities{
    padding: 0.15rem 3%;
    color: #bbbbbb;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    background: #fff;
}
.mui-input-row {
    clear: none;
}
.needs .need_form .service_checkbox .radio_box .mui-left:nth-child(even) {
    float: left;
    width: 33.33%;
}
.mui-checkbox.mui-left label, .mui-radio.mui-left label {
    padding-right: 0px;
    padding-left: 0.50rem;
    /* padding-top: 5px; */
    padding-bottom: 0px;
    font-size: 0.30rem;
    color: #666666;
}
.mui-checkbox input[type=checkbox], .mui-radio input[type=radio] {
    width: 0.38rem;
    height: 0.38rem;
    top: 0rem;
}
.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio] {
    left: 0.10rem;
}
.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before {
    font-size: 0.38rem;
}
.mui-input-row label{
	padding: 0 15px;
}
.phone{
	padding: 0.15rem 3%;
	background: #fff;
}
.phone span{
	font-size: 0.32rem;
    color: #444444;
}
.Verification{
	padding: 10px 3%;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	height: auto;
}
.Verification span{
	font-size:0.32rem;
    color: #444444;
    display: block;
    float: left;
    margin-top: 5px;
}
.Verification input{
	width: 40%;
	margin-left: 0.20rem;
	border: none;
    color: #444;
    font-size: 15px;
    margin-top: 5px;
}
.Verification button{
	padding: 0.10rem 0.30rem;
	font-size: 0.28rem;
	float: right;
}
.btn{
	padding: 0.20rem 3% 0px 3%;
	overflow: hidden;
	height: auto;
}
.btn button{
	display: block;
	float: left;
	width: 49%;
}
.btn button:nth-child(2){
	float: right;
}













