/*----底部选项卡------*/
.ft-tab .mui-tab-item {
    color: #444;
}
.ft-tab .tab-list {
    overflow: visible;
}
.mui-bar-tab .nav-tab-item {
    display: table-cell;
    width: 1%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #444;
}
.ft-tab .mui-active {
    color: #0e5bb5!important;
}
.ft-tab .icon-home {
    background: url(../../image/home11.png) no-repeat;
    width: 0.48rem;
    height: 0.47rem;
    background-size: 0.48rem 0.47rem;
}
.ft-tab .tab-icon {
    margin-bottom: 0.15rem;
    width: 0.46rem;
    height: 0.46rem;
    position: relative;
    z-index: 20;
    top: 3px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: Muiicons;
    font-size: 0.24px;
    font-weight: 400;
    font-style: normal;
    /* line-height: 1; */
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
.ft-tab .mui-tab-label {
    display: block;
    font-size: 0.24rem;
}
.ft-tab .mui-active .icon-home {
    background: url(../../image/home-cur.png) no-repeat;
    width: 0.52rem;
    height: 0.47rem;
    background-size: 0.52rem 0.47rem;
}
.ft-tab .icon-pull {
    background: url(../../image/plus_sign.png) no-repeat;
    width: 1.16rem;
    height: 1.16rem;
    background-size: 1.16rem 1.16rem;
}
.ft-tab .pu-icon {
    width: 1.16rem!important;
    height: 1.16rem!important;
    top: -0.2rem;
}
.ft-tab .icon-resouce {
    background: url(../../image/classify.png) no-repeat;
    width: 0.46rem;
    height: 0.45rem;
    background-size: 0.46rem 0.45rem;
}
.ft-tab .mui-active .icon-resouce {
    background: url(../../image/noun-bl.png) no-repeat;
    width: 0.46rem;
    height: 0.45rem;
    background-size: 0.46rem 0.45rem;
}
/*-----头部-----------*/

.on_seek {
    width: 0.5rem;
    height: 100%;
    position: absolute;
    right: 0.11rem;
}
.cataloglist dt {
    margin-top: 0.05rem;
}
.slide {
    display: none;
    width: 100%;
    background: #f1f1f1;
}
.slide li {
    line-height: 0.50rem;
    color: #444;
}
.seek_img {
    width: 0.26rem;
    height: 0.26rem;
    margin: auto;
    margin-top: 0.13rem;
}
.mui-bar {
    height: 0.88rem;
    background: #fff;
}
.mui-bar-tab .mui-tab-item {
    overflow: visible;
}
.home, .classify {
    width: 0.46rem;
    height: 0.45rem;
}
.publish {
    width: 1.16rem;
    height: 1.16rem;
    position: absolute;
    top: -0.65rem;
    left: -0.33rem;
}
.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label {
    font-size: 0.24rem;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #444;
}
.home, .classify {
    width: 0.46rem;
    height: 0.45rem;
}

/*-----底部--------*/
.specialist{
	width: 100%;
    height: 0.88rem;
    background: #fff;
    border-top: 1px solid #dddddd;
}
.specialist li{
	width: 33.33%;
	float: left;
	height: 0.88rem;
	text-align: center;
	line-height: 0.88rem;
font-size: 0.30rem;	
}
.specialist li i{
    float: right;
    display: block;
    height: 0.25rem;
    width: 1px;
    background: #666666;
    margin-top: 13%;
}
/*--------*/
.specialist {
    width: 100%;
    height: 0.88rem;
    background: #fff;
    border-top: 1px solid #dddddd;
}
.specialist .oli1{
	width: 50%;
}
.specialist li {
    width: 33.33%;
    float: left;
    height: 0.88rem;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.30rem;
    position: relative;
}
.text_color {
    color: #ffa600;
}
.expertLevel .text_color{
	 color: #ffa600;
}
.specialist li i {
    float: right;
    display: block;
    height: 0.25rem;
    width: 1px;
    background: #666666;
    margin-top: 9%;
}
.trigon{
	width: 0;
    height: 0;
    border-left: 0.1rem solid transparent;
    border-right: 0.1rem solid transparent;
    border-top: 0.15rem solid #bdbdbd;
    position: absolute;
    top: 0.35rem;
    right: 0.40rem;
}
.trigon1{
	width: 0;
    height: 0;
    border-left: 0.1rem solid transparent;
    border-right: 0.1rem solid transparent;
    border-top: 0.15rem solid #ffa600;
    position: absolute;
    top: 0.35rem;
    right: 0.40rem;
}
/*------切换-----------*/
.expertLevel_box {	
    width: 100%;
    height: 0.66rem;
    background: #f5f5f5;
}
.expertLevel{
	width: 60%;
	margin:0 auto;	
}
.expertLevel li{
	float: left;
	width: 50%;
	text-align: center;
	font-size: 0.28rem;
	color: #666666;
	line-height: 0.66rem;
}
.star_expert{
	display: none;
}
/*------li----------*/
.mui-table-view-cell{
	width: 100%;
}
.mui-table-view-cell>a:not(.mui-btn) {
    white-space: normal;
}
.mui-table-view .mui-media-object.mui-pull-left {
    margin-right: 2%;
}
.mui-table-view .mui-media-object {
    max-width: 32%;
    height: 1.6rem;
}
.content_body {
    float: left;
    width: 66%;
    height: 100%;
}
.view_title {
    width: 100%;
    min-height: 0.6rem;
}
.title_left {
    width: 60%;
    float: left;
    font-size: 0.35rem;
    color: #444444;
}
.phone {
    float: left;
    width: 40%;
    color: #969696;
    text-align: right;
    margin-top: 0.05rem;
    font-size: 0.25rem;
}
.introduce {
    font-size: 0.26rem;
    color: #666666;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 0.35rem;
    letter-spacing: 0px;
}
.apply_base {
    width: 100%;
    margin-top: 0.20rem;
}
.apply_base li:nth-child(1) {
    width: 43%;
}
.focus_img {
        width: 0.20rem;
    height: 0.20rem;
    float: left;
    margin-right: 0.05rem;
    margin-top: 0.1rem;
}
.apply_base li {
    float: left;
}
.apply_base li p {
    float: left;
    color: #969696;
    font-size: 0.26rem;
}
.apply_img {
    width: 0.20rem;
    height: 0.20rem;
    float: left;
    margin-right: 0.05rem;
    margin-top: 0.1rem;
}

.specialist_box{
	display: none;
	width: 100%;
}
.apply_base li:nth-child(2) {
    width: 57%;
}
/*------侧边栏----------*/
.sidebar_left{
	position: absolute;
	bottom: 51px;
	left: 0px;
	width: 100%;
	height: 77%;
	background: #f5f5f5;
	display: none;
 	z-index: 10000;	
}
.left_list{
	width:25%;
	height: 100%;
	float: left;
	background: #fff;
}
.left_list li{
	width: 100%;
	text-align: center;
	border-top:1px solid #dddddd;
	height: 13%;
	line-height: 1.2rem;
	    font-size: 0.34rem;
}
.left_list li:nth-child(7){
	height: 22%;
	line-height: 2.0rem;	
}
.left_list_bg{
	background: #f5f5f5;
	color: #0e5bb5;
}
.right_list{
	display: none;
	width: 68%;
	float: right;
	height: 100%;
	margin: 0px 3.5%;	
}
.right_list h4{
	font-size: 0.28rem;
	margin: 10px 0px;
	color: #666;	
}
.two_label,.three_label{
	width: 100%;
	height: auto;
	overflow: hidden	
}
.two_label li,.three_label li{
	width: 33.33%;
	text-align: center;
	font-size: 0.28rem;
	float: left;
	background: #fff;
	height: 0.80rem;
	line-height: 0.80rem;
	border: 1px solid #f5f5f5;
	color: #666;
}
.right_list h5{
	font-size: 0.24rem;
	color: #666;
	margin: 10px 0px;
}

.three_label li{
	font-size: 0.24rem;
	height: 0.60rem;
	line-height: 0.60rem;
}
.two_label .left_list_bg{
	color: #0e5bb5;
}


.mui-table-view-cell:after {
    left: 0px;
}

.oul1,.oul2,.oul3,.oul4,.oul5,.oul6,.oul7{
	display: none;
}
.left_list li:nth-child(1){
	border-top:none ;
}
/*------快速发布-------*/
#mask{
	display: none;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background-color: rgba(0,0,0,.6);
}
.pull-techoly{
	width: 60%;
	margin: 0 auto;	
	bottom:0.25rem;
	left: 20%;
	position: absolute;

}
.pull-techoly ul li{
	width: 50%;
	float: left;
	text-align: center;
}
.pull-techoly ul li span{
	display: block;
}
.pull-techoly ul li a{
	color: #fff;
	font-size: 0.3rem;
	display: block;
}
.pull-techoly .cire-bd{
	display: block;
	width: 1.42rem;
	height: 1.42rem;
	border-radius: 1rem;
	background: #fff;
	margin: 0 auto;
}
.pull-techoly .pul-text{
	padding-top: 0.2rem;
}
.pull-techoly .pull-need{
	display: block;
	background: url(../../image/wri.png) no-repeat center center;
	width: 0.76rem;
	height: 0.72rem;
	background-size: 0.76rem 0.72rem;
	margin: 0 auto;
	padding-top: 1.45rem;
}
.pull-techoly ul{
	display: block;
	overflow: hidden;
}
.pull-techoly .pull-tech{
	display: block;
	background: url(../../image/set.png) no-repeat center center;
	width: 0.66rem;
	height: 0.70rem;
	background-size: 0.66rem 0.70rem;
	margin: 0 auto;
	padding-top: 1.45rem;
}
.mui-popover .mui-popover-arrow:after{
	position: absolute;
    top: 19px;
    left: 0;
    width: 0;
    height: 0;
    content: ' ';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 0;
    background: #f7f7f7;
}
.pull-techoly .close i{
	display: block;
	background: url(../../image/clobig.png) no-repeat center center;
	width: 1.3rem;
	height: 1.3rem;
	background-size: 1.3rem 1.3rem;
	margin: 0 auto;
	padding-top: 1.8rem;
}
.hotwarp .model_title{
	border-bottom: 0;
}
.mui-table-view:before {
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #fff; 
    top: -1px;
}
.mui-title{
	color: #0d0d0d;
}

/*-----------*/
.no_content {
	width: 100%;
	height: 1.80rem;
	display: block;
}

.sorry {
	width: 100%;
	height: 0.80rem;
	line-height: 0.80rem;
	text-align: center;
	color: #b57f22;
	border-bottom: 1px solid #ffd38e;
	background: #fff1dd;
	font-size: 0.30rem;
}

.sorry_title {
	font-size: 0.30rem;
	color: #444444;
	text-align: center;
	line-height: 1.00rem;
	width: 90%;
	height: 1.00rem;
	margin: 0 auto;
	position: relative;
}

.sorry_title img {
	display: block;
	width: 100%;
	height: 6px;
	position: absolute;
	top: 45%;
}

.mui-tab-item .mui-icon {
	width: 0.46rem;
	height: 0.45rem;
}

.home .mui-icon {
	background: url(../../image/Home.png) no-repeat center center;
	background-size: 0.46rem 0.45rem;
}

#specialist_box,
#expertLevel_box {
	display: none;
}

.mui-table-view-cell:after {
	left: 0px;
}

.specialist_content {
	display: none;
	width: 100%;
}

.two_label div {
	display: block;
	width: 33.33%;
	text-align: center;
	font-size: 0.28rem;
	float: left;
	background: #fff;
	height: 0.80rem;
	line-height: 0.80rem;
	border: 1px solid #f5f5f5;
	color: #666;
}

.three_label div {
	display: block;
	width: 33.33%;
	text-align: center;
	font-size: 0.24rem;
	float: left;
	background: #fff;
	height: 0.60rem;
	line-height: 0.60rem;
	border: 1px solid #f5f5f5;
	color: #666;
}


/*------免费预约、咨询-------*/

.advice_box {
	display: block;
	position: fixed;
	top: 45%;
	right: 0px;
	width: 2.38rem;
	height: 1.10rem;
	z-index: 9999;
}

.free_advice {
	width: 2.38rem;
	height: 1.10rem;
}

.free_advice img {
	display: block;
	width: 2.38rem;
	height: 1.1rem;
}

.free_advice p {
	position: absolute;
	top: 5%;
	left: 45%;
	width: 50%;
	font-size: 0.26rem;
	color: #fff;
}


/*------*/

.ft-tab .icon-need {
	background: url(../../image/needic.png) no-repeat;
	width: 0.38rem;
	height: 0.46rem;
	background-size: 0.38rem 0.46rem;
}

.ft-tab .mui-active .icon-need {
	background: url(../../image/needs-cur.png) no-repeat;
	width: 0.38rem;
	height: 0.46rem;
	background-size: 0.38rem 0.46rem;
}

.ft-tab .icon-resouce {
	background: url(../../image/recou.png) no-repeat;
	width: 0.46rem;
	height: 0.47rem;
	background-size: 0.46rem 0.47rem;
}

.ft-tab .mui-active .icon-resouce {
	background: url(../../image/recou-cur.png) no-repeat;
	width: 0.48rem;
	height: 0.47rem;
	background-size: 0.48rem 0.47rem;
}

.ft-tab .icon-our {
	background: url(../../image/user.png) no-repeat;
	width: 0.45rem;
	height: 0.47rem;
	background-size: 0.45rem 0.47rem;
}

.ft-tab .mui-active .icon-our {
	background: url(../../image/user-cur.png) no-repeat;
	width: 0.45rem;
	height: 0.47rem;
	background-size: 0.45rem 0.47rem;
}
