@{
    Layout = "~/Views/Shared/_LayoutWebpack.cshtml";
}

@section head{
 <link rel="stylesheet" href="/content/css/gobel.css" />
<link rel="stylesheet" href="/content/css/intic.css" />   
<style>
    html{
        background:#fff
    }
</style>
}

<header class="mui-bar mui-bar-nav head_box head-secd" style="border-bottom: #ddd solid 1px;">
    <a class="mui-icon mui-icon-arrowleft mui-icon-left-nav mui-pull-left" href="/"></a>
    <h1 class="mui-title">全部分类</h1>
</header>
<!--页面主体部分-->
<div class="mui-content body_content" v-cloak style="padding-top: 44PX;">
    <!--分块导航-->
    <section class="list-item">
        <div class="floor_s">
            <ul class="mui-table-view mui-grid-view mui-grid-9 flo_item">
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" v-for="item in navs">
                    <a :href="item.Value">
                        <span class="icon-cirle" v-bind:class="item.Remark"></span>
                        <div class="detext">{{item.Name}}</div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>

@section foot{
    <script src="~/dist/home.cates.bundle.js"></script>
}