@{
    ViewBag.Title = "绑定邮箱";
    Layout = "~/Views/Shared/_LayoutWebpack.cshtml";
}
    <style>
        html {
            background: #f4f4f4;
        }

        .text {
            margin: 0.40rem 0px;
        }

        input[type=text] {
            border-left: 0px solid #ddd;
            border-right: 0px solid #ddd;
            border-radius: 1px;
        }

        .mui-btn {
            text-align: center;
            width: 94%;
            margin: 0.40rem auto;
            display: block;
        }
          html {
            background: #fff;
        }

        .mui-bar-nav .mui-pull-right {
            font-size: 17px;
            padding-top: 15px;
            color: #007aff;
        }

        .successful {
            border-top: 1px solid #ddd;
            padding-top: 1.50rem;
        }

            .successful img {
                width: 2.10rem;
                height: 2.10rem;
                margin: 0 auto;
            }

            .successful p {
                font-size: 0.30rem;
                color: #434343;
                text-align: center;
                margin-top: 0.50rem;
                margin-bottom: 0px;
            }

            .successful span {
                display: block;
                margin: 0 auto;
                font-size: 0.26rem;
                color: #969696;
                text-align: center;
            }
    </style>
    <header class="mui-bar mui-bar-nav" style="background: #fff;">
        <a class="mui-icon-arrowleft mui-icon mui-icon-left-nav mui-pull-left" href="/mybusiness/basicinformation"></a>
        <h1 class="mui-title">绑定邮箱</h1>
        <a id="ok" class="mui-icon mui-icon-right-nav mui-pull-right" href="/mybusiness/basicinformation" style="display:none">完成</a>
    </header>

    <div class="mui-content" id="bind" style="background: #f4f4f4;">
        <input type="text" maxlength="30" placeholder="请输入您的邮箱地址" id="email" class="text" value="@ViewBag.email" />
        <button type="button" class="mui-btn mui-btn-blue">保存</button>
    </div>

<div id="success" style="display:none">
    <div class="mui-content" style="background: #fff;">
        <div class="successful">
            <img src="~/Content/image/passwored_ok.png" />
            <p>验证链接已发送到您的邮箱</p>
            <span>请进入邮箱查看完成验证</span>
        </div>
    </div>
</div>
@section foot{
    <script src="~/dist/member.bindemail.bundle.js"></script>
    }
