
@{
    ViewBag.Title = "上海军民融合展";
}

<link href="~/Content/css/gobel.css" rel="stylesheet" />
<link href="~/Content/css/check/check.css" rel="stylesheet" />
<link href="~/Content/css/activity/Expo.css" rel="stylesheet" />
<style>
    .side-bar {
        position: fixed;
        top: 78%;
        right: 0;
        background: url(/Content/image/advice-bg.png) no-repeat;
        width: 2.08rem;
        height: 0.88rem;
        background-size: 2.08rem 0.88rem;
        color: #fff;
        z-index: 5;
    }
        .side-bar a {
            display: block;
            color: #fff;
            font-size: 0.24rem;
            width: 50%;
            margin-left: 0.9rem;
            margin-top: 0.2rem;
            line-height: 1;
        }
    .side-bar {
        position: fixed;
        top: 65%;
        right: 0;
        background: url(/Content/image/apply-bg.png) no-repeat;
        width: 2.08rem;
        height: 0.88rem;
        background-size: 2.08rem 0.88rem;
        color: #fff;
        z-index: 5;
    }
</style>
<header class="mui-bar mui-bar-nav head_box head-secd">
    <a class="mui-icon mui-icon-arrowleft mui-icon-left-nav mui-pull-left" href="/unique/detection"></a>
    <h1 class="mui-title">上海军民融合展</h1>
    <a class="return share-button"></a>
</header>
<nav class="mui-bar mui-bar-tab botm-bg">
    <div class="Contact-msge">
        <div class="mes-icon"></div>
        <div class="mes-text" style="line-height:14px;">
            参展敬请垂询 / 联系人：耿先生<br>
            电话：17091929289 / 邮箱：gengtiandi@techina2025.com
        </div>
    </div>
</nav>
<div class="mui-content soul_content">
    <section class="mid-banner">
        <img src="~/content/image/activity/Expo/cgzbanner.png" />
    </section>
    <!--2017上海军民融合技术成果展-->
    <section class="solution-wrap">
        <h3>2017上海军民融合技术成果展</h3>
        <ul class="soul-list exresult-text">
            “2017上海军民融合技术成果展”将于2017年10月17日-19日在上海展览中心隆重开幕，成果展通过项目征集、成果展览、专业论坛、专项对接等方式搭建军地高新技术交流合作平台、遴选“ 民参军 ”优势高新技术项目、推动军民科技成果双向转移转化、营造军民融合协同创新良好生态，已然成为立足上海、面向全国、引领华东地区促进军民融合技术产业发展的重要展会。想参与军工的民营企业，别错过2017军民融合盛会哟！
        </ul>
    </section>
    <!-- 展会简介-->
    <section class="solution-wrap">
        <h3>展会简介</h3>
        <ul class="soul-list exresult-text">
            “2017 上海军民融合技术成果展 ”作为“2016 第四届上海军民两用技术促进大会 ”的延伸和“2018第五届上海军民两用技术促进大会 ”的前奏，承担着承上启下地发现、汇聚、展示、推介、培育、服务的综合性平台功能，将以长三角地区为重点，挖掘民企参军优势、搭建对接交流平台、畅通转移转化渠道、激发创新驱动活力，发现一批高新技术优势项目、汇聚一批科技创新要素资源、展示一批先进技术成果、推介一批重点技术项目、培育一批新特精尖技术项目、提供一系列军民两用技术专业化服务，推动长三角地区加快形成军民深度融合发展格局，为深化创新驱动、推动军地发展贡献力量。
        </ul>
    </section>
    <!--展会信息-->
    <section class="solution-wrap">
        <h3>展会信息</h3>
        <ul class="soul-list expinfo">
            <li>
                <h4>指导单位</h4>
                <p style="line-height:0.35rem;">上海市科学技术委员会、上海市经济和信息化委员会、上海市发展与改革委员会、上海市国动委综合办</pstyle="line-height:0.35rem;">
            </li>
            <li>
                <h4>支持单位</h4>
                <p>军队有关单位及华东五省科技动员办公室</p>
            </li>
            <li>
                <h4>承办单位</h4>
                <p>上海军民两用科学技术促进会、上海交通大学国家战略研究院</p>
            </li>
            <li>
                <h4>协办单位</h4>
                <p>飞天众智中国制造科技服务平台</p>
            </li>
            <li>
                <h4>展会时间</h4>
                <p><span>展览搭建时间：</span><span>2017年10月16日8:30-16:30</span></p>
                <p><span>展商报到时间：</span><span>2017年10月16日9:00-16:30</span></p>
                <p><span>展览时间：</span><span>2017年10月17日8:30-16:30<br />2017年10月18日8:30-16:30<br />2017年10月19日8:30-15:30 </span></p>
                <p><span>撤展时间：</span><span>2017年10月19日15:30-20:00</span></p>
            </li>
            <li>
                <h4>展会地点、面积</h4>
                <p>展会地点：上海展览中心西二馆（上海市南京西路1333号）</p>
                <p>展会面积：2700平方米</p>
            </li>
        </ul>
    </section>
    <!--附展摊平面图-->
    <section class="solution-wrap floor-plan">
        <h3>附展摊平面图</h3>
        <img src="~/Content/image/activity/Expo/zg1.png" />
        <img src="~/Content/image/activity/Expo/zg2.png" />
    </section>
    <!--展会亮点-->
    <section class="solution-wrap">
        <h3>展会亮点</h3>
        <ul class="soul-list expinfo">
            <li>
                <h4>专业组织</h4>
                <p style="line-height:0.35rem;">由成功参与组织过四届“上海军民两用技术促进大会”的上海科学技术开发交流中心和上海军民两用科学技术促进会主办和承办，上海市相关政府职能部门——上海市科学技术委员会、上海市经济和信息化委员会、上海市发展和改革委员会、上海市国防动员委员会综合办、军队有关单位及华东五省科技动员办公室等单位支持。</p>
            </li>
            <li>
                <h4>专业观众</h4>
                <p style="line-height:0.35rem;">邀请相关政府主管部门、军品科研管理单位、军队物资采购单位、高校、科研院所、高新技术企业、行业协会、风险投资机构及军地相关媒体的负责人参观展览会。</p>
            </li>
            <li>
                <h4>专业辅导</h4>
                <p style="margin-bottom:5px;">“民参军”路径规划咨询辅导</p>
                <p style="margin-bottom:5px;">“民参军”资质办理咨询辅导</p>
                <p style="margin-bottom:5px;">“民参军”项目申报咨询辅导</p>
            </li>
            <li>
                <h4>专业服务</h4>
                <p style="margin-bottom:5px;">申请成为军促会会员</p>
                <p style="margin-bottom:5px;">享受参加各类活动服务</p>
                <p style="margin-bottom:5px;">享受专家技术支持服务</p>
            </li>
        </ul>
    </section>
    <!--同期活动-->
    <section class="solution-wrap">
        <h3 style="margin-bottom:15px;">同期活动</h3>
        <div class="expinfo">
            <p style="margin-bottom:5px;">1、无人机关键技术发展论坛</p>
            <p style="margin-bottom:5px;">2、军民融合协同创新发展论坛</p>
            <p style="margin-bottom:5px;">3、新材料技术发展论坛</p>
        </div>
    </section>
    <section class="solution-wrap">
        <h3>参展单位</h3>
        <div class="expinfo">
            <p style="line-height:0.35rem;text-indent:15px;">“长三角”地区高校科研院所、高新技术企业和军队相关高校科研院所、承担军品科研生产任务的有关科研单位企业等。</p>
        </div>
    </section>

</div>

<script>
    (function () {
        $("#description")[0].content = "提供材料及其产品的失效分析检测标准方法以及设备。";
    })();
</script>

<!--右侧漂浮-->
<div class="side-bar">
    <a href="~/Activity/ApplyInfo">点击<br />立即报名</a>
</div>