@{
    ViewBag.Title = "500";
    Layout = "~/Views/Shared/_LayoutWebpack.cshtml";
}
@section head{
<link href="~/Content/css/Error/error.css" rel="stylesheet" />
}
<div class="main-wrap">
    <div class="errorbox erro1">
        <div class="tipstext">
            <h3>遇到错误啦！</h3>
            <p>请返回...</p>
        </div>
        <div class="errabot failrabot">
            <i></i>
        </div>
    </div>
    <div class="btnback" onclick="window.location.href='/'">
        <a>返回首页</a>
    </div>
</div>