html {
        background: #f4f4f4;
    }

    .text {
        margin: 0.40rem 0px;
    }

    input[type=text] {
        border: 0px solid #ddd;
        border-radius: 0px;
    }

    .mui-btn {
        text-align: center;
        width: 94%;
        margin: 0.40rem auto;
        display: block;
    }

    .password_box {
        padding: 0 3%;
        overflow: hidden;
        height: auto;
        background: #fff;
        margin-top: 0.20rem;
    }

    .name_title {
        width: 100%;
        line-height: 1.00rem;
        color: #bbbbbb;
        border-bottom: 1px solid #ddd;
        overflow: hidden;
        padding:15px 0px
    }
    .password_box .name_title:nth-child(2){
        padding:15px 0 0 0
    }
        .name_title span {
           font-size: 0.30rem;
            color: #444444;
            height: 20px;
            line-height: 20px;
            display: block;
            float: left;
        }

    input[type=password] {
        width: 73%;
        float: right;
        margin-bottom: 0px;
        padding: 0;
        height: 20px;
        border: none;
        color: #444;
        font-size: 0.30rem;
        margin-top: 0 !important;
    }

    p {
        line-height: 0.36rem;
        margin-bottom: 0px;
    }

    .prompt {
        overflow: hidden;
        height: auto;
        padding: 0 3%;
    }

        .prompt p {
            color: #ed0000;
            font-size: 0.26rem;
        }

        .prompt span {
            font-size: 0.26rem;
            float: left;
            display: block;
            color: #ed0000;
        }

    .newPassword p {
        color: #ed0000;
        font-size: 0.18rem;
        line-height: 0.28rem;
        width: 100%;
        float: right;
    }

    .newPassword {
        width: 73%;
        float: right;
    }
    .mui-btn-blue{
        background:#0e5bb5;
        border-color:#0e5bb5
    }